:root {
  /* primary colors  */
  --btn-red: #e62222;
  --nav-top-red: #f32424;
  --dark-brown: #2c1818;
  --light-grey: #f2f2f2;
  --red-pinkish-mix: #e1cfcf;

  --dark-blue: #232f3e;
  --dark-blue-footer: #232f3e;

  --abit-black: #323232;

  --pinkish-text: #e1cfcf;

  /* letter colors */

  --link-color: #0645ad;
  /* heights */
  --nav-height: 6rem;
  /* other properties*/
  --borderRadius5: 5px;
  --borderRadius10: 10px;
  --backgroundColor: #ffffff;
  --transition: 0.3s ease-in-out all;
  --fluid-width: 90vw;
  /* shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* letter spacing */
  --letterSpacing: 2px;
}
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

a:visited {
  color: white;
}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.heading_main {
  font-size: 400px;
  color: red;
}
.normal-header {
  text-align: center;
  color: var(--dark-brown);
  text-decoration: underline;
}
.fancyHeader {
  margin-top: 5em;
  text-align: center;
  color: white;
  background: var(--dark-brown);
  padding: 0.5em;
}
.full-width-bg {
  z-index: -1;
}
.ontop {
  position: absolute;
  top: 2em;
  z-index: 1;
  color: red;
  font-size: 36px;
}
