@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
  /* primary colors  */
  --btn-red: #e62222;
  --nav-top-red: #f32424;
  --dark-brown: #2c1818;
  --light-grey: #f2f2f2;
  --light-brown: #5e5050;
  --red-pinkish-mix: #e1cfcf;

  --dark-blue: #232f3e;
  --dark-blue-footer: #232f3e;

  --abit-black: #323232;

  --pinkish-text: #e1cfcf;
  --orange: #ff955c;

  /* code extract */
  --slide-color: #ff0000;
  --slide-font-size: 1.5rem;
  --slide-font-style: italic;
  --author-color: #0000ff;
  --author-font-size: 1.2rem;
  --author-font-weight: bold;

  /* letter colors */

  --link-color: #0645ad;
  /* heights */
  --nav-height: 6rem;
  /* other properties*/
  --borderRadius5: 5px;
  --borderRadius10: 10px;
  --backgroundColor: #ffffff;
  --transition: 0.3s ease-in-out all;
  --fluid-width: 90vw;
  /* shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* letter spacing */
  --letterSpacing: 2px;
}
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

a:visited {
  color: white;
}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.heading-1 {
  margin: 0;
}

.heading_main {
  font-size: 400px;
  color: red;
}
.space {
  margin: 5em 0;
}
.space2 {
  margin-top: 3em;
}
.special-paragraph {
  font-size: larger;
  padding: 2em;
}
.special-paragraph3 {
  font-size: larger;
  padding: 2em;
  text-align: center;
  text-align: center;
}
.normal-header {
  text-align: center;
  color: var(--dark-brown);
  text-decoration: underline;
}
.fancyHeader {
  text-align: center;
  color: white;
  background: var(--dark-brown);
  padding: 0.5em;
}
.full-width-bg {
  z-index: -1;
}
.special-paragraph2 {
  font-size: larger;
  padding: 2em;
  text-align: center;
}
.ontop {
  position: absolute;
  top: 2em;
  z-index: 1;
  color: red;
  font-size: 36px;
}
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

.faq-container {
  width: 100%;
  margin: 2em 0;
  height: auto;
  color: black;
  text-align: center;
}
.faq-container .list-container {
  height: fit-content;
  margin: 0 auto;
  width: 90%;
}
.faq-container .list-container ul {
  margin: 1em 0;
  padding: 0;
  text-align: left;
  background: var(--dark-blue);
}
.faq-container .list-container ul li {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-color: white;
  padding: 1em 0;
  padding-top: 1em;
}
.faq-container .list-container ul li button {
  margin-left: auto;
  margin-right: 1em;
  height: 1.8em;
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 13px solid transparent;
  border-right: 24px solid #fff;
  border-bottom: 13px solid transparent;
  border-left: transparent;
  cursor: pointer;
  margin-top: 1em;
}
.faq-container .list-container ul li .show-more {
  display: block;
  transition-delay: 500ms;
  background-color: white;
}
.faq-container .list-container ul li .rotate-btn {
  transform: rotate(-90deg);
  transition: 500ms;
}
.faq-container .list-container ul li p {
  padding-left: 2em;
  background: transparent;
}
.faq-container .list-container ul li:first-child {
  padding-top: 0.8em;
}
.faq-container .list-container ul .faq-text {
  color: #000;
  page-break-after: always;
  display: none;
  border-style: solid;
  border-color: #538fa8;
  background: red;
  padding: 0.5em 3em;
}
.smallP {
  font-size: 0.8em;
  color: white;
}
.flex_kidogo {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin: 0 1em;
  /* color: var(--font-white); */
}
.flex_kidogo_mpya {
  display: flex;
  gap: 2em;
  justify-content: center;
  /* align-items: center; */
  /* margin: 2em 1em; */
  /* width: 50vw; */
  margin: 3em auto;
}
.div-For-responsiveness {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 1em; */
}
.roundedPicture {
  border-radius: var(--borderRadius5);
  width: 460px;
  height: 340px;
}
.team-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: var(--borderRadius10);
}
.ul-padding {
  padding-left: 0;
}
.backround_brown {
  background: var(--light-brown);
}
.special-background {
  background: var(--dark-brown);
  margin: 3em auto;
  color: white;
  padding: 2em 0;
}
/* .cert1 {
  padding: 0 2em;
} */
/* .containerA {
} */
.containerAchievements {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2em;
  gap: 1em;
  align-items: center;
}
.paragraph-111 {
  margin: 1em 1em;
}
.margintopNv {
  margin-top: 7em;
}
.div-box-Number-Email2 {
  padding: 2em 1em;
  /* display: flex;
  justify-content: center; */
  /* flex-direction: column; */
  margin: 3em auto;
  font-size: larger;
  width: 50%;
  background: var(--light-brown);
  color: white;
  border-radius: var(--borderRadius5);
}
.link {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}
/* .about_us { */
/* margin-top: 24px; */
/* padding-right: 8px;
  padding-left: 8px;
} */
/* .dropdown {
  position: absolute;
  top: 5px;
  left: 50%;
} */
.dropdownMenu {
  position: absolute;
  top: 13px;
  background: red;
  width: 400px;
  z-index: 10000;
  height: 500px;
}

.div-box-Number-Email {
  padding: 2em 1em;
  /* display: flex;
  justify-content: center; */
  /* flex-direction: column; */
  margin: 3em auto;
  font-size: larger;
  width: 50%;
  background: var(--light-brown);
  color: white;
  border-radius: var(--borderRadius5);
  text-align: center;
}
.report-div {
  width: 250px;
  height: 250px;
  background: var(--orange);
  display: flex;
  align-items: center;
  flex-direction: column;
  border: var(--abit-black);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}
.report-div p {
  margin: 2.5em 0;
  font-size: medium;
  color: white;
  font-weight: 700;
}
.reports-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
/* .smallSpace {
  margin: 0.75em 0;
} */

/* btn for reports download */

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--orange);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}
@media (max-width: 730px) {
  .flex_kidogo_mpya {
    flex-direction: column;
    /* margin-left: 3em; */
  }
  .roundedPicture {
    width: 330px;
    height: 300px;
  }
  .ul-padding {
    padding-left: 1.5em;
  }
  .heading-1 {
    margin: 0 1em;
  }
}

@media (max-width: 659px) {
  .margintopNv {
    margin-top: 5em;
  }
}
@media only screen and (max-width: 380px) {
  .paragraph-11 {
    margin: 0 2em;
  }
  .paragraph-111 {
    margin: 1em 5em;
  }
  .div-box-Number-Email {
    width: 80%;
  }
}
/* gallery manenos */
